body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:whitesmoke;
    font-family: Arial, sans-serif;
}

h1 {
    font-family: 'Pokemon Solid', sans-serif;
    color: #ffcc00;
    font-size: 3em;
    margin: 20px 0;
}

#filter-container {
    margin: 20px 0;
}

#type-filter {
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.pokedex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    background-color: #8fbc8f;
    border-radius: 15px;
    width: 200px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.card h3 {
    margin: 10px 0;
    font-size: 1.2em;
}

.card p {
    margin: 5px 0;
    font-size: 0.9em;
}
